body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    color: brown;
  }
  #boardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    aspect-ratio: 1/1;

    border: 20px solid gray;
  }
  .buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .boardPiece {

    aspect-ratio: 1/1;
    margin: 0px;
    border: 1px solid black;
  }
  
  .hovered {
    background-color: lightgray;
  }
  
